:host {
  display: flex;
  flex-direction: column;
  max-height: 85vh;
  border-radius: 2rem;
  overflow: hidden;
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 2rem !important;
    padding: 0 !important;
    background: transparent !important;
    box-shadow: none !important;
}

::ng-deep .mat-mdc-dialog-content {
    max-height: none !important;
    flex: 1;
    overflow-y: auto !important;
}
