.active-link {
  @apply bg-white/10 text-white border-l-2 border-primary shadow-inner;
}

.active-link span.material-icons {
  @apply text-primary drop-shadow-[0_0_8px_rgba(79,70,229,0.5)];
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
